In [45]:
# Supress Warnings

#Use this cell to ignore the warnings.

#[Your Code]

# Import the numpy and pandas packages

#[Your Code]

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie data. Store it in a variable called `movies`.

In [ ]:
# Import the numpy and pandas packages
import numpy as np
import pandas as pd

movies = pd.read_csv('Desktop/assigment/MovieData.csv/movies.csv')

In [3]:

#Making Sure that the csv file belong to the same directory as this file. And then using head command to read few rows.
#Else complete path of the directory can be used to read the file.
#read_csv is used to read the deimited file.

#[Your Code]

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Print the first few rows of the dataframe
print(movies.head())

# Inspect the dataframe's columns, shapes, and variable types
print(movies.info())
print(movies.shape)
print(movies.columns)

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here

#Hint : isnull returns boolean True/False for column value to be null or not, sum will add int count. 

print(movies.isnull().sum())

In [6]:
# Write your code for row-wise null count here

#Sum of ISNull along axis 1 will give the null count row-wise. 
print(movies.isnull().sum(axis=1))

In [7]:
# Write your code for column-wise null percentages here

# Sum of all nulls of column/Total count converted to percentage and rounded to 2 digits.

print((movies.isnull().sum() / len(movies)) * 100)

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

#Dropping the columns which are not required.Written in Multiple lines for readbility.

# Drop unnecessary columns
columns_to_drop = ['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes',
                   'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name',
                   'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link',
                   'aspect_ratio', 'plot_keywords']

movies = movies.drop(columns=columns_to_drop)

# Inspect the dataframe after dropping columns
print(movies.head())

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [9]:
# Drop rows with Null values in columns with high percentages
high_null_columns = ['column1', 'column2', ...]  # Replace with the actual column names
movies = movies.dropna(subset=high_null_columns, thresh=1)  # Set the threshold as needed

# Inspect the dataframe after dropping rows
print(movies.shape)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [10]:
# Drop rows with more than five NaN values
movies = movies.dropna(thresh=5)

# Inspect the dataframe after dropping rows
print(movies.shape)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [11]:
# Fill NaN values in the 'language' column with 'English'
movies['language'].fillna('English', inplace=True)

# Verify that NaN values are filled
print(movies['language'].isnull().sum())

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [12]:
# Check the number of retained rows
print(movies.shape[0])  # Number of rows
print((movies.shape[0] / len(movies)) * 100)  # Percentage of retained rows
# Write your code for checking number of retained rows here
#[Your Code]

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [13]:
movies['budget'] = movies['budget'] / 1000000
movies['gross'] = movies['gross'] / 1000000

# Verify the changes
print(movies[['budget', 'gross']].head())

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [14]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']

In [15]:
# Write your code for sorting the dataframe here
movies = movies.sort_values(by='profit', ascending=False)

In [ ]:
# Extract the top ten profiting movies
top10 = movies.head(10)

# Inspect the top10 dataframe
print(top10[['movie_title', 'profit']])

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [16]:
# Write your code for drmovies = movies.drop_duplicates()
movies = movies.drop_duplicates()

In [17]:
# Write code for repeating subtask 2 here
top10 = movies.head(10)
#Sort df by profit in descending order.Print Top 10 movies for verification.
print(top10[['movie_title', 'profit']])

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [18]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
IMDb_Top_250 = movies[movies['num_voted_users'] > 25000].nlargest(250, 'imdb_score')

# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250['Rank'] = range(1, 251)

In [19]:
#Taking rows whoes language column value is not English.
print(IMDb_Top_250[['movie_title', 'imdb_score', 'num_voted_users', 'Rank']])

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [20]:
# Group the dataframe by 'director_name' and calculate the mean of 'imdb_score'
director_scores = movies.groupby('director_name')['imdb_score'].mean()

# Find the top 10 directors with the highest mean imdb_score
top10director = director_scores.nlargest(10).reset_index()

# Inspect the top10director dataframe
print(top10director[['director_name', 'imdb_score']])

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [21]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies['genres'].str.split('|').str[0]
movies['genre_2'] = movies['genres'].str.split('|').str[1].fillna(movies['genre_1'])

In [22]:
#Movies has been grouped by genre_1 and then genre_2
genre_grouped = movies.groupby(['genre_1', 'genre_2'])

In [23]:
#Pivot table can be used to calculate the mean gross and then group by genres. And then sorted by the gross value.
PopGenre = genre_grouped['gross'].mean().sort_values(ascending=False).reset_index()

# Inspect the PopGenre dataframe
print(PopGenre.head())

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [44]:
import pandas as pd

# Assuming you have a DataFrame named 'movies' or load it from a file
# For example, you can create a sample DataFrame like this:
movies_data = {
    'Movie_Name': ['Movie1', 'Movie2', 'Movie3'],
    'actor_1_name': ['Meryl Streep', 'Leonardo DiCaprio', 'Brad Pitt'],
    'num_critic_for_reviews': [100, 120, 150],
    'num_user_for_reviews': [200, 180, 220]
}

movies = pd.DataFrame(movies_data)

# Now you can run the code you provided
Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = movies[movies['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = movies[movies['actor_1_name'] == 'Brad Pitt']

# Append the rows of these dataframes
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

# Group the Combined dataframe by 'actor_1_name'
actor_grouped = Combined.groupby('actor_1_name')

# Find the mean of 'num_critic_for_reviews' and 'num_user_for_reviews'
actor_reviews = actor_grouped[['num_critic_for_reviews', 'num_user_for_reviews']].mean()

# Identify actors with the highest mean reviews
top_actor_reviews = actor_reviews.sum(axis=1).nlargest(1).reset_index()

# Inspect the top_actor_reviews dataframe
print(top_actor_reviews)

  actor_1_name      0
0    Brad Pitt  370.0

In [38]:
#Mean critic Review and Mean audience review grouped by the actor's name in above combined data frame
#Using pivot to grorup by both and then get sorted mean.

**Checkpoint 6:** `Leonardo` has aced both the lists!